
p {
    width: 40%;
    border: 5px solid rgb(250, 198, 54);
    padding: 10px;
    font-weight: bold;
    font-size: 40px; 
}

button {
    padding: 10px 20px;
    margin: 20px;
    color: black;
    justify-content: center;
}