@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'work sans';
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* Navigation bar */
.navbar {
    background: purple;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;  
}

#navbar__logo {
    background-color: whitesmoke;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-heart {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
   height: 80px; 
}

.navbar__links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: bold;
}

.navbar__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(229, 13, 229);
    color: white;
    font-weight: bold;
}

.button:hover {
    background: grey;
    transition: all 0.3s ease; 
}

.navbar__links:hover {
    color: grey;
    transition: all 0.3s ease;
}

/* Root values

:root{
    --container-color: blue;
    --second-color: yellow;
    --text-color: black;
    --bg-color: white;
}*/

::section{
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Header

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px grey (0 4% 14% / 10%);
    transition: .5s;
}

header.shadow .logo{
    color: var(--text-color);
}*/

/*.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span{
    color: var(--second-color);
}

.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}

.login:hover{
    background: blueviolet;
    transition: .5s;
}*/

.home {
    width: 100%;
    min-height: 440px;
    background: url(/BGIT-images/leaf_banner.jpg);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text-container{
    color: purple;
    text-align: center;
    font-weight: 600;
}

.home-text-container_2{
    color: purple;
    text-align: center;
    font-weight: 600;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 800;
}

.about{
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.about .contentBx {
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText {
    font-weight: 600;
    color: purple;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: black;
    font-size: 1rem;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;

}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: rgb(229, 13, 229);
    border: 1px solid;
    border-radius: 4px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color:grey;
    border: none;
    color: whitesmoke;
}

.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    margin-bottom: 1rem;
}

.filter-item{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: purple;
    color: whitesmoke;
    padding: 4px 10px;
    border-radius: 4px;
}



.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    /*grid-template-columns: auto auto;*/
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: whitesmoke;
    box-shadow: 0 4px 14px hs1(35deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: purple;
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase; 
    margin-top:  4px;
    font-weight: 600px;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid purple;
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}

.widget_container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    display: auto;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
       display: grid;
       grid-template-columns: auto;
       margin: 0;
       width: 100%;
       position: absolute;
       top: -1000px;
       opacity: 0;
       transition: all 0.5s ease;
       height: 50vh;
       z-index: -1;
       background: whitesmoke;
    }

    .navbar__menu.active {
        background:whitesmoke;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.5rem; 
    }

    #navbar__logo {
        padding-left: 25px; 
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;  
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;  
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;   
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}


 
/* Footer CSS */ 
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: whitesmoke;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec{
    margin-right: 30px;
}

.footer-container .sec.aboutus{
    width: 40%;
}

.footer-container h2{
    position: relative;
    color: purple;
    margin-bottom: 15px;
}

.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: grey;
}

footer p{
    color: black;
}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover{
    background: grey;
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}

.quicklinks ul li a:hover{
    color: purple;
}

.footer-container .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: purple;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: black;
}

.contactBx .info li a{
    color: black;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: purple;
}



/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container{
        flex-direction: column;
    }

    footer .footer-container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container .quicklinks{
        width: 100%;
    }

    footer .footer-container .contactBx{
        width: 100%;
    }
}